.modal {
    z-index: 11;
    width: 720px;
    max-width: 100%;
    min-height: 200px;
    max-height: 100%;
    border: 4px solid black;
    background-color: white;
    box-shadow: 8px 8px 6px rgba(0, 0, 0, 0.25);
    padding: 32px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-body {
    display: inline-block;
    width: 100%;
}

.modal-speaker {
    width: fit-content;
    float: left;
}

.modal h2 {
    margin: 0px;
}

.modal h3 {
    margin: 0px;
}

.modal button {
    font-size: 1.25em;
    margin-left: 24px;
    margin-right: 24px;
}

.modal-content {
    font-size: 1em;
}

.modal-background {
    z-index: 10;
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.modal .message-meta {
    border-top: 2px solid #ccd;
    border-bottom: 2px solid #ccd;
    background-color: rgb(192, 240, 255);
    margin-bottom: 16px;
    margin-left: -32px;
    margin-right: -32px;
    padding: 8px 32px;
}

.modal .message-meta h4 {
    margin-block-start: 0.125em;
    margin-block-end: 0.75em;
}

.modal .message-meta > span, .modal .message-meta > p {
    font-style: italic;
}

.month-report li {
    list-style-type: none;
    margin-left: 0px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-bottom: 8px;
}

.month-report strong {
    display: inline-block;
    width: 40%;
    text-align: right;
    margin-right: 16px;
    line-height: 1.5em;
}

/* animation for the report data */

@keyframes emerge-from-right {
    from {
        opacity: 0;
        transform: translateX(120px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.month-report li span {
    animation-name: emerge-from-right;
    animation-duration: 0.75s;
    animation-timing-function: ease-in-out;
}
